<div id="ingredients">
  <h3>Ingredients</h3>
  <ul>
    <li>
      malt: <%= @recipe.display_malts %>
    </li>
    <li>
      hops: <%= @recipe.display_hops %>
    </li>
    <li>
      yeast: <%= @recipe.yeast.name %>
    </li>
  </ul>
</div>
<div id="specifications">
  <h3>Specifications</h3>
  <ul>
    <li>abv: <%= @recipe.abv %>%</li>
    <li>ibu: <%= @recipe.ibu %></li>
    <li>color: <%= @recipe.srm %> srm</li>
  </ul>
</div>