<% base_malt = @recipe.malts[:base].to_a[0][0] %>
<% specialty = @recipe.malts[:specialty].to_a[0][0] %>
<% bittering = @recipe.hops[:bittering].to_a[0][0] %>
<% aroma =     @recipe.hops[:aroma].to_a[0][0] %>

<div class="ingredients">
  <h3>Ingredients</h3>
  <ul>
    <li>
      malt: <%= base_malt.name %>, <%= @recipe.malts[:base][base_malt] %>lbs,
      <%= specialty.name %>, <%= @recipe.malts[:specialty][specialty] %>lbs
    </li>
    <li>
      hops: <%= @recipe.hops[:bittering][bittering][0] %> oz <%= bittering.name %> @<%= @recipe.hops[:bittering][bittering][1] %> min,
      <%= @recipe.hops[:aroma][aroma][0] %> oz <%= aroma.name %> @<%= @recipe.hops[:aroma][aroma][1] %> min
    </li>
    <li>
      yeast: <%= @recipe.yeast.name %>
    </li>
  </ul>
</div>
<div class="specifications">
  <h3>Specifications</h3>
  <ul>
    <li>abv: <%= @recipe.abv %>%</li>
    <li>ibu: <%= @recipe.ibu %></li>
    <li>color: <%= @recipe.srm %> srm</li>
  </ul>
</div>